body{
    font-family: Helvetica;
}

.cuties{
    position: absolute;
    z-index: -2;
    top: 250px;
    left: 180px;
    height: 60px;
}

._content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

@keyframes moveTextLeft {
    0% { transform: translateX(200%); }
    100% { transform: translateX(-200%); }
}

.moving-text-left {
    animation: moveTextLeft 1s linear infinite both; /* Adjust duration as needed */
}

@keyframes moveTextRight {
    0% { transform: translateX(-500%); }
    100% { transform: translateX(500%); }
}

.moving-text-right {
    animation: moveTextRight 1s linear infinite both; /* Adjust duration as needed */
}
